<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body class="normal-mode">
    <div class="wrapper full-bg">
      <%- body %>
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/base64.js"></script>
    <script src="/js/dependencies/ec.js"></script>
    <script src="/js/dependencies/jsbn.js"></script>
    <script src="/js/dependencies/jsbn2.js"></script>
    <script src="/js/dependencies/modeToggle.js"></script>
    <script src="/js/dependencies/prng4.js"></script>
    <script src="/js/dependencies/rng.js"></script>
    <script src="/js/dependencies/rsa.js"></script>
    <script src="/js/dependencies/rsa2.js"></script>
    <script src="/js/dependencies/sec.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
